## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Hobart,-42.8794,147.3294,287.74,75,20,4.63,AU,2022-03-18 22:50:03,few clouds
1,1,Oussouye,12.4850,-16.5469,297.25,56,0,5.56,SN,2022-03-18 22:53:43,clear sky
2,2,Copiapó,-27.3667,-70.3333,291.98,37,0,2.08,CL,2022-03-18 22:53:44,clear sky
3,3,Cherskiy,68.7500,161.3000,253.54,83,24,2.26,RU,2022-03-18 22:53:44,few clouds
4,4,Codrington,-38.2667,141.9667,291.83,67,75,4.52,AU,2022-03-18 22:53:45,broken clouds

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,Hobart,-42.8794,147.3294,287.74,75,20,4.63,AU,2022-03-18 22:50:03,few clouds
1,1,Oussouye,12.4850,-16.5469,297.25,56,0,5.56,SN,2022-03-18 22:53:43,clear sky
2,2,Copiapó,-27.3667,-70.3333,291.98,37,0,2.08,CL,2022-03-18 22:53:44,clear sky
3,3,Cherskiy,68.7500,161.3000,253.54,83,24,2.26,RU,2022-03-18 22:53:44,few clouds
4,4,Codrington,-38.2667,141.9667,291.83,67,75,4.52,AU,2022-03-18 22:53:45,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is the minimum Temperature?")
min_temp = float(input("min_temp: "))

print("What is the maximum Temperature?")
max_temp = float(input("max_temp: "))

What is the minimum Temperature?
What is the minimum Temperature?
min_temp: 75
What is the maximum Temperature?
What is the maximum Temperature?
max_temp: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method. Also convert table temp from K to F.
preferred_cities_df = city_data_df.loc[(((city_data_df["Max Temp"] - 273.15) * 9/5 + 32) <= max_temp) & \
                                       (((city_data_df["Max Temp"] - 273.15) * 9/5 + 32) >= min_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Oussouye,12.4850,-16.5469,297.25,56,0,5.56,SN,2022-03-18 22:53:43,clear sky
6,6,Carnarvon,-24.8667,113.6333,297.19,64,54,6.17,AU,2022-03-18 22:53:46,broken clouds
11,11,Kapaa,22.0752,-159.3190,300.33,66,0,5.66,US,2022-03-18 22:51:58,clear sky
12,12,Port Hueneme,34.1478,-119.1951,303.18,34,0,4.63,US,2022-03-18 22:53:49,clear sky
14,14,Butaritari,3.0707,172.7902,300.33,81,23,9.00,KI,2022-03-18 22:53:50,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
689,689,Wamba,8.9333,8.6000,299.15,14,99,2.39,NG,2022-03-18 23:14:56,overcast clouds
691,691,Taphan Hin,16.2209,100.4198,299.84,71,84,1.39,TH,2022-03-18 23:14:57,broken clouds
692,692,Lookan,5.0370,120.1027,300.95,78,100,1.77,PH,2022-03-18 23:14:58,overcast clouds
701,701,Calderitas,18.5500,-88.2500,302.21,74,40,7.72,MX,2022-03-18 23:15:03,scattered clouds
707,707,Lagunas,-5.2269,-75.6753,298.14,94,87,1.20,PE,2022-03-18 23:15:07,overcast clouds

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Oussouye,12.4850,-16.5469,297.25,56,0,5.56,SN,2022-03-18 22:53:43,clear sky
6,6,Carnarvon,-24.8667,113.6333,297.19,64,54,6.17,AU,2022-03-18 22:53:46,broken clouds
11,11,Kapaa,22.0752,-159.3190,300.33,66,0,5.66,US,2022-03-18 22:51:58,clear sky
12,12,Port Hueneme,34.1478,-119.1951,303.18,34,0,4.63,US,2022-03-18 22:53:49,clear sky
14,14,Butaritari,3.0707,172.7902,300.33,81,23,9.00,KI,2022-03-18 22:53:50,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
689,689,Wamba,8.9333,8.6000,299.15,14,99,2.39,NG,2022-03-18 23:14:56,overcast clouds
691,691,Taphan Hin,16.2209,100.4198,299.84,71,84,1.39,TH,2022-03-18 23:14:57,broken clouds
692,692,Lookan,5.0370,120.1027,300.95,78,100,1.77,PH,2022-03-18 23:14:58,overcast clouds
701,701,Calderitas,18.5500,-88.2500,302.21,74,40,7.72,MX,2022-03-18 23:15:03,scattered clouds
707,707,Lagunas,-5.2269,-75.6753,298.14,94,87,1.20,PE,2022-03-18 23:15:07,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        232
City           232
Lat            232
Lng            232
Max Temp       232
Humidity       232
Cloudiness     232
Wind Speed     232
Country        232
Date           232
Description    232
dtype: int64

City_ID        232
City           232
Lat            232
Lng            232
Max Temp       232
Humidity       232
Cloudiness     232
Wind Speed     232
Country        232
Date           232
Description    232
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
pref_cities_df = preferred_cities_df.dropna()
pref_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Oussouye,12.4850,-16.5469,297.25,56,0,5.56,SN,2022-03-18 22:53:43,clear sky
6,6,Carnarvon,-24.8667,113.6333,297.19,64,54,6.17,AU,2022-03-18 22:53:46,broken clouds
11,11,Kapaa,22.0752,-159.3190,300.33,66,0,5.66,US,2022-03-18 22:51:58,clear sky
12,12,Port Hueneme,34.1478,-119.1951,303.18,34,0,4.63,US,2022-03-18 22:53:49,clear sky
14,14,Butaritari,3.0707,172.7902,300.33,81,23,9.00,KI,2022-03-18 22:53:50,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
689,689,Wamba,8.9333,8.6000,299.15,14,99,2.39,NG,2022-03-18 23:14:56,overcast clouds
691,691,Taphan Hin,16.2209,100.4198,299.84,71,84,1.39,TH,2022-03-18 23:14:57,broken clouds
692,692,Lookan,5.0370,120.1027,300.95,78,100,1.77,PH,2022-03-18 23:14:58,overcast clouds
701,701,Calderitas,18.5500,-88.2500,302.21,74,40,7.72,MX,2022-03-18 23:15:03,scattered clouds
707,707,Lagunas,-5.2269,-75.6753,298.14,94,87,1.20,PE,2022-03-18 23:15:07,overcast clouds

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
1,1,Oussouye,12.4850,-16.5469,297.25,56,0,5.56,SN,2022-03-18 22:53:43,clear sky
6,6,Carnarvon,-24.8667,113.6333,297.19,64,54,6.17,AU,2022-03-18 22:53:46,broken clouds
11,11,Kapaa,22.0752,-159.3190,300.33,66,0,5.66,US,2022-03-18 22:51:58,clear sky
12,12,Port Hueneme,34.1478,-119.1951,303.18,34,0,4.63,US,2022-03-18 22:53:49,clear sky
14,14,Butaritari,3.0707,172.7902,300.33,81,23,9.00,KI,2022-03-18 22:53:50,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
689,689,Wamba,8.9333,8.6000,299.15,14,99,2.39,NG,2022-03-18 23:14:56,overcast clouds
691,691,Taphan Hin,16.2209,100.4198,299.84,71,84,1.39,TH,2022-03-18 23:14:57,broken clouds
692,692,Lookan,5.0370,120.1027,300.95,78,100,1.77,PH,2022-03-18 23:14:58,overcast clouds
701,701,Calderitas,18.5500,-88.2500,302.21,74,40,7.72,MX,2022-03-18 23:15:03,scattered clouds
707,707,Lagunas,-5.2269,-75.6753,298.14,94,87,1.20,PE,2022-03-18 23:15:07,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Oussouye,SN,297.25,clear sky,12.4850,-16.5469,
6,Carnarvon,AU,297.19,broken clouds,-24.8667,113.6333,
11,Kapaa,US,300.33,clear sky,22.0752,-159.3190,
12,Port Hueneme,US,303.18,clear sky,34.1478,-119.1951,
14,Butaritari,KI,300.33,few clouds,3.0707,172.7902,
17,Santa Rosa del Sur,CO,299.20,overcast clouds,7.9644,-74.0544,
21,Prata,BR,298.73,overcast clouds,-19.3072,-48.9242,
22,The Valley,AI,299.23,few clouds,18.2170,-63.0578,
23,Atuona,PF,299.23,few clouds,-9.8000,-139.0333,
25,Saint-Joseph,RE,297.36,broken clouds,-21.3667,55.6167,

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Oussouye,SN,297.25,clear sky,12.4850,-16.5469,
6,Carnarvon,AU,297.19,broken clouds,-24.8667,113.6333,
11,Kapaa,US,300.33,clear sky,22.0752,-159.3190,
12,Port Hueneme,US,303.18,clear sky,34.1478,-119.1951,
14,Butaritari,KI,300.33,few clouds,3.0707,172.7902,
17,Santa Rosa del Sur,CO,299.20,overcast clouds,7.9644,-74.0544,
21,Prata,BR,298.73,overcast clouds,-19.3072,-48.9242,
22,The Valley,AI,299.23,few clouds,18.2170,-63.0578,
23,Atuona,PF,299.23,few clouds,-9.8000,-139.0333,
25,Saint-Joseph,RE,297.36,broken clouds,-21.3667,55.6167,

In [8]:
# # 6a. Set parameters to search for hotels with 5000 meters.
# lat = row["Lat"]
# lng = row["Lng"]
# location = f"{lat},{lng}"

# params = {
#     "radius": 5000,
#     "types": "lodging",
#     "key": g_key,
#     "location": location
# }
# 6b. Iterate through the hotel DataFrame.
for i, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    location = f"{lat},{lng}"

    params = {
        "radius": 5000,
        "types": "lodging",
        "key": g_key,
        "location": location
        }
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotel = requests.get(url, params=params).json()
    
    
#     6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try:
        hotel_df.loc[i, "Hotel Name"] = hotel["results"][0]["name"]
    except:
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Oussouye,SN,297.25,clear sky,12.4850,-16.5469,Auberge du Routard
6,Carnarvon,AU,297.19,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
11,Kapaa,US,300.33,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Port Hueneme,US,303.18,clear sky,34.1478,-119.1951,Hampton Inn Channel Islands Harbor
14,Butaritari,KI,300.33,few clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
689,Wamba,NG,299.15,overcast clouds,8.9333,8.6000,Roma Zee Guest House Annex
691,Taphan Hin,TH,299.84,broken clouds,16.2209,100.4198,Rommakham Homestay
692,Lookan,PH,300.95,overcast clouds,5.0370,120.1027,
701,Calderitas,MX,302.21,scattered clouds,18.5500,-88.2500,Hotel Hacienda Campestre
707,Lagunas,PE,298.14,overcast clouds,-5.2269,-75.6753,Hospedaje Eco

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Oussouye,SN,297.25,clear sky,12.4850,-16.5469,Auberge du Routard
6,Carnarvon,AU,297.19,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
11,Kapaa,US,300.33,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Port Hueneme,US,303.18,clear sky,34.1478,-119.1951,Hampton Inn Channel Islands Harbor
14,Butaritari,KI,300.33,few clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
689,Wamba,NG,299.15,overcast clouds,8.9333,8.6000,Roma Zee Guest House Annex
691,Taphan Hin,TH,299.84,broken clouds,16.2209,100.4198,Rommakham Homestay
692,Lookan,PH,300.95,overcast clouds,5.0370,120.1027,
701,Calderitas,MX,302.21,scattered clouds,18.5500,-88.2500,Hotel Hacienda Campestre
707,Lagunas,PE,298.14,overcast clouds,-5.2269,-75.6753,Hospedaje Eco

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/hotel_search.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °K</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat","Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

AttributeError: module 'collections' has no attribute 'Iterable'

AttributeError: module 'collections' has no attribute 'Iterable'

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig